body{
    margin: 0;
    font-family: 'Merriweather', serif;

}
h1{
    font-size: 50px;
}
.pro{
    color: darkkhaki;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    height: 500px;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link-bottom{
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}




.part-2{
    height: 500px;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
  
}
.bottom{
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
}
.main-area{
    box-shadow: 10px 10px 40px gray;
    box-sizing: 500px;
    height: 70%; 
    background-color: white;
    border-radius: 10px;
}
.Experiences-area{
    height: 500px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fast-desing{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#last-desing{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue, gray);
    border-image-slice: 1;

}
footer{
    text-align: center;
}