body{
    font-family: 'Merriweather', serif;

}
h1{
    font-size: 50px;
}
.pro{
    color: darkkhaki;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}